main {
    max-width: 42rem;
    padding: 2rem;
    margin: auto;
    background-image: url(image/frame-grey.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1 {
    margin: .5em;
}

#container {
    border: .15em solid grey;
    border-radius: 1em;
    /* background: white; */
    text-align: center;
    padding: .5em;
    font-size: 125%;
    background-image: url(image/Merseburg.svg), url(image/Halle.svg), url(image/Berlin.svg), url(image/New-York.svg);
    background-position: left top, right top, left bottom, right bottom;
    background-repeat: no-repeat;
    background-size: 200px 200px, 200px 200px, 200px 200px, 200px 200px;
}

#message {
    padding: .5em;
    font-size: 150%;
}
